---
layout: default
title: Events
slug: events
---

{% assign past_events = "" | split: "|" %}
{% assign upcoming_events = "" | split: "|" %}

{% for event in site.data.events %}
  {% assign event_date_start = event.date_start | date: '%s' %}
  {% assign now_date = 'now' | date: '%s' %}
  {% assign difference = now_date | minus: event_date_start %}

  {% if difference < 0 %}
    {% assign upcoming_events = upcoming_events | push: event %}
  {% elsif difference > 0 %}
    {% assign past_events = past_events | push: event %}
  {% endif %}
{% endfor %}

<section id="page-header">
  <div class="container">
    <h2>Events</h2>
  </div>
</section>
<section id="page" class="container">
  <div id="page-content">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="upcoming" class="page-element">
          <h3><span>Upcoming Events</span></h3>
          {% for event in upcoming_events %}
            {% cycle '<div class="row">', '', '', '' %}
              <div class="col-md-3 col-sm-3">
                {% include event.html %}
              </div>
            {% cycle '', '', '', '</div>' %}
          {% endfor %}
        </div>

        <div id="past" class="page-element">
          <h3><span>Past Events</span></h3>
          {% for event in past_events %}
            {% cycle '<div class="row">', '', '', '' %}
              <div class="col-md-3 col-sm-3">
                {% include event.html %}
              </div>
            {% cycle '', '', '', '</div>' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
