<header id="global-head">
  <div class="container">
    <div class="logo">
      <h1><a href="{{site.url}}/">WIRED Monash</a></h1>
    </div>
    <div class="menu" id="wired-nav">
      <a href="{{site.url}}" class="nav-button"><i class="fa fa-bars"></i></a>
      <ul id="main-nav">
        <li><a href="{{site.url}}/join/">Join Us</a></li>
        <li><a href="{{site.url}}/get-involved/">Get Involved</a></li>
        <li><a href="{{site.url}}/events/">Events</a></li>
        <li><a href="{{site.url}}/sponsors/">Sponsors</a></li>
        <li><a href="{{site.url}}/about/">About</a></li>
        <li><a href="{{site.url}}/contact/">Contact</a></li>
      </ul>
    </div>
    <div class="menu" id="social-media">
      <ul>
        <li><a href="http://facebook.com/WiredMonash"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/WiredMonash"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://github.com/WiredMonash"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</header>
