<!--
Hey, I just met you,
And this is crazy,
But here's my number,
So call me, maybe!
And all the other boys,
Try to chase me,
But here's my number,
So call me, maybe!
-->
<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} - {% endif %}WIRED Monash</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}WIRED Monash" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/assets/wired-og.jpg" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<link rel="stylesheet" href="{{ site.url }}/assets/style.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
