{% capture header %}
<title>{% if page.title %}{{ page.title }} - {% endif %}WIRED Monash</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}WIRED Monash" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/assets/img/wired-og.png" />
{% endif %}
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<link rel="icon" type="image/png" href="{{site.url}}/assets/img/icon.png">
<link rel="stylesheet" href="{{ site.url }}/assets/style.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% endcapture %}{{ header | strip_newlines }}
