<!DOCTYPE html>
<html>
<head>
{% include top.html %}
<link rel="stylesheet" href="{{ site.url }}/assets/{{ page.slug }}.css" />
</head>
<body>
{% include header.html %}
{% if page.section == "home" %}
<div id="agm-head" class="home">
{% else %}
<div id="agm-head">
{% endif %}
  <div class="container">
    <div class="head-wrap">
      <h1>Wired Monash Annual General Meeting 2016</h1>
    </div>
  </div>
</div>

<div id="agm-nav">
  <div class="container">
    <ul>
      <li {% if page.section == "home" %} class="active" {% endif %}><a href="{{ site.url }}/agm-2016/">AGM 2016</a></li>
      <li {% if page.section == "election" %} class="active" {% endif %}><a href="{{ site.url }}/agm-2016/election/">Election</a></li>
    </ul>
  </div>
</div>
{{ content }}
<div id="rsvp">
  <div class="container">
    <p>Are you coming? Please visit our Facebook event page and say you are going!</p>
    <p><a href="https://www.facebook.com/events/291495834544315/" class="btn btn-lg">Facebook Event</a></p>
  </div>
</div>
{% include footer.html %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFb8arheYyFsSLvglIjfgO-9Ylq2rdsBc"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/agm-2016.js"></script>
</body>
</html>
